*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Montserrat", sans-serif;
}
.nav-link {
    color: black; 
    text-decoration: none; 
  }
  
.nav-link:hover {
    color: darkgray; 
  }

.nav-menu{
    width: 100%;
    background-color: white;
   height: 8vh;
   position: fixed;
   z-index: 1;
   /* border-bottom: 1px solid rgb(229, 227, 227); */
}

.header-wrapper{
    width: 100%;
    height: 92vh;
    display: flex;
    position: relative;


}

.div1{
    width: 50%;
    height: 100%;
    padding: 30vh 5vh 25vh 5vh;
   
}

.div2{
    width: 50%;
    height: 100%;
}

.div2 image{
    width: 100%;
    height: auto;
}

.projects{
    width: 100%;
    background-color: #F8F9FA;
    padding: 10vh 10vh;
}
.about-us{
    width: 100%;
    background-color: #F8F9FA;
    padding: 10vh 10vh;
    
}

.footer{
    background-color: black;
    width: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-link{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;

}

.footer-icons{
margin-right: 20px;

}



@media (max-width:1000px) {
    .header-wrapper {
        height: 50vh;
        flex-direction: column; 
        align-items: center;    
        justify-content: center; 
    }

    .div1 {
        width: 100%; 
        
       height: 50%;
       padding: 10vh 0 10vh 5vh;

    }

    .div2 img {
       display: none; 
    }
}
@media (max-width:1400px) {
    .div1{
        margin-top: -10vh;
    }
}
@media (max-width:1000px) {
    .div1{
        margin-top: 10vh;
    }
}
@media (max-width:990px) {
    .collapse-menu{
        background-color: white;
        z-index: 1;
    }
   
    .link{
        border-bottom: 1px solid lightgrey;
        border-collapse: collapse;
    }
}


@media (max-width:600px) {
    .menu-heading{
        font-weight: 500;
        font-size: 15px !important;
    }
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .div1{
        margin-top: 5vh;
    }
    
}

@media (max-width:450px) {
    .card-width{
        width: 30rem !important;
    }
    .skill-icon{
        font-size: 40px !important;
    }
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.about-link:hover{
    color: grey;
}